deep_learning/detectron2/detectron2/* linguist-vendored
deep_learning/detectron2/detectron2/ linguist-vendored
deep_learning/detectron2/detectron2/* linguist-detectable=false
*.html linguist-detectable=false
*.html linguist-vendored=true
